.container {
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.datepicker {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
}

.header {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  font-size: 14px;
  font-weight: normal;
}

.header button {
  border: none;
  background: none;
  color: #31b6e7;
  padding: 5px 20px;
  outline: none;
}