* {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

button {
  text-align: center;
}

.container {
  text-align: center;
}

.container ul {
  margin: 40px 0;
}

.container ul li {
  margin: 10px 0;
}